<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surat Disposisi</title>
    <link rel="stylesheet" href="disposisi.css">
</head>
<body>
    <div class="container-disposisi">

        <div class="header">
            <h2>KEMENTRIAN PENDIDIKAN DAN KEBUDAYAAN</h2>
            <h2>UNIVERSITAS LAMBUNG MANGKURAT</h2>
            <h2>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h2>
        </div>

        <div class="title">
            <h2>LEMBAR DISPOSISI</h2>
        </div>

        <div class="kop">
            <table>
                <tr>
                    <td>Tgl. Terima</td>
                    <td>7-Des-20</td>
                    <td>Agenda No.</td>
                    <td>5624</td>
                </tr>
            </table>
        </div>

        <div class="status">
            <table>
                <tr>
                    <td>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                    </td>
                    <td>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                    </td>
                    <td>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                    </td>
                </tr>
            </table>
        </div>

        <div class="details">
            <table>
                <tr>
                    <td>
                        Tanggal Surat
                    </td>
                    <td>
                        : isi tanggal
                    </td>
                </tr>
                <tr>
                    <td>
                        No. Surat
                    </td>
                    <td>
                        : Tanggal Surat
                    </td>
                </tr>
                <tr>
                    <td>
                        Dari
                    </td>
                    <td>
                        : UPM FKIP ULM
                    </td>
                </tr>
                <tr>
                    <td>
                        Isi Ringkas
                    </td>
                    <td>
                        : Permohonan Peminjaman ruang 32
                    </td>
                </tr>
            </table>
        </div>

        <div class="tableInput">
            <table>
                <tr>
                    <th>Tanggal </th>
                    <th>Dari </th>
                    <th>Isi Disposisi</th>
                    <th>Kepada</th>
                    <th>Paraf</th>
                </tr>
                <tr>
                    <td>Tanggal </td>
                    <td>Dari </td>
                    <td>Isi Disposisi</td>
                    <td>Kepada</td>
                    <td>Paraf</td>
                </tr>
            </table>
        </div>

        <div class="addition">
            <table>
                <tr>
                    <th>Disposisi</th>
                    <th>:</th>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>