.dropdown-menu {
	width: 400px;
	position: absolute;
	top: 35px;
	right: 0px;
	list-style: none;
	text-align: none;
	border: 2x solid black;
	background: linear-gradient(160deg, #d3e6ee 0%, #cfe0f3 100%);
	border-radius: 8px;
}

.title h2 {
	text-align: left;
	font-size: 1000;
	padding-left: 20px;
}

.dropdown-menu li {
	cursor: pointer;
	padding: 5px 3px;
}

.dropdown-menu li:hover {
	background: #94c0ee;
	border-radius: 8px;
}

.dropdown-menu clicked {
	display: none;
}
